body {
    border: 1px solid rgb(10, 7, 7);
    padding: 10px;
}

.gallery-image img {
    border: 2px solid;
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.about {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.about-content {
    padding: 30px;
    margin: 5px;
    position: relative;
    -webkit-flex-basis: 500px;
    -moz-flex-basis: 500px;
    flex-basis: 500px;
}

.about-content img {
    width: 100%;
    max-height: 500px;
}

.picture-web {
    display:none;
}

.about h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;
}

.about p {
    font-family: "Open Sans", sans-serif;
}

header {
    text-align: center;
}

header .header-banner {

    background-image: url("img/header.png");
    width: 100%;
    height: calc(100vh - 500px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;

}

header h1 {

    font-family: "Gentium Basic", serif;
    font-weight: 200;
    font-size: 60px;
    color: #0e0808;
    line-height: 70px;
    text-transform: uppercase;

}
    
header h2 {
    
    font-family: "Gentium Basic", serif;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 5px;
    color: #070202;
    text-transform: uppercase;
    
}

header nav ul {

    padding: 0%;
    margin: 0 auto;
    text-align: center; /*IE*/
    width: fit-content;

}

header nav ul li {

display: inline-block;
padding: 32px 32px;

}

.about ul {
    display: inline-block;
    padding: 32px 32px;
}

nav ul li a {

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;

}   

.retseptid-mobile {
    padding-left: 35px;
}

.retseptid-mobile h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;
}


footer {

    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: #eedeb2;
    margin-top: 20px;
    overflow: hidden;

}

footer ul {

    width: fit-content;
    float: left;
    padding-left: 0px;

}

footer ul li {

    display: block;
    padding: 0 0 10px 0;

}

footer ul li p {

    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    color: #0a0101;
    text-transform: uppercase;

}

footer ul li a {

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #080404;
    text-transform: uppercase;
    text-decoration: none;

}

.footer-sm {

    width: 60px;
    float: right;

}

.footer-sm img {

    width: 100%;
    margin-bottom: 10px;

}

hr {

    color: #4f5663;
    border-width: 2px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5px;
    
}

.gallery-image {

    margin: 10px;
    position: relative;
    text-align: center;

    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    flex-basis: 300px;
    
} 
    
    .post-header {       
    
    /*kujundus*/
    
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 3px 3px 9px #111111;
    
       /*positsioneerimine*/
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.banner {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    -o-flex-flow: row wrap;
    justify-content: center;
}

.banner img {
    width: 100%;
    max-height: 400px;
}

.gallery-links {

    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    -o-flex-flow: row wrap;
    justify-content: center;
    
}

@media only screen and (min-width: 1300px) {   

    header .header-banner {
    
          height: calc(100vh - 400px);
    
    }   
    
    header h1 {
            
          font-size: 80px;
    
    }  
    
    header h2 {
    
          font-size: 24px;
          margin-top: 20px;
    
    }

    hr {
        display: none;
    }

    .retseptid-mobile {
        display: none;
    }

    .picture-web {
        display: unset;
    }
    
    header nav ul li {
    
        padding: 16px 42px;
    
    }
    
}

